
.main_res{
    /* background-image: url('/newest.jpg'); */
    /* background-size: cover; */
    /* height: 50em; */
}
.container_res{
    border: 2px solid #ff5a00;
    box-shadow: 1px 1px 1px green;
    position: relative;
    top:5em;
    left:10em;
    border-radius: 5px;
    width: 30%;
    padding: 1% 0;
    height: 30em;
    /* background-color: white; */
    background-color: rgba(204,202,202,.4);

}
.container_res form >*{
    box-shadow: 1px 1px 1px grey;

    display: block;
    position: relative;
    /* left: 10em; */
    top: 10em;
    height:3em;
    border-radius: 5px;

    width: 70%;
    margin: 0 0 1% 0;
    text-align: center;
    /* background-color: rgb(47,79,79,0.7); */
    color: blue;
    
}
.formReview>*::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }

.container_res form >:last-child{
    /* text-align: right; */
    position: relative;
    top:10em;
    width: 30%;
    background-color: rgb(0,128,0,0.8);
    line-height: 10px;
    left:9em;
    color: white;
}
.container_res form >:last-child:hover{
    transition: 100ms;
    background-color: rgb(0,128,0,1);

}

.container_res form >:nth-child(5){
    height: 18em;
    margin-bottom: 10%;
}


.user_id_res,.store_id_res,.rate_id_res,.store_location_id_res,.store_image_id_res{
    display: none !important;;
}

.store_name_review_res{
    position: absolute;
    top: 8em;
    left: 15em;
    /* margin: 1em 0 0 1em; */
    text-shadow: 1px 1px 1px grey;
}