

.storeProfileMain{
    background-color: #f2f2f5;
    
}

.storeInfo{
    display: -webkit-flex;
    /* display: flex; */
    background-color: white;
    margin: 6% 16% -4% 16%;
    height: 339px;
    padding: 3% 1% 0 2%;
    box-shadow: -2px 4px 4px #ff5a00;
    border-radius: 4%;
}

.storeInfo .storeProfilePic{
    height: 277px;
    width: 32%;
    margin-right: 9%;
    border-radius: 50%;
    box-shadow: 3px 5px 16px #204051;
    margin-top: -1%;
    margin-left: 3%;

}
.storeInfo .storeName{
    font-size: 78px;
}

.storeInfo .details{
    margin-top: -2%;
}

.storeInfo .profileRate{
    margin-top: 2%;
    margin-bottom: 2%;
}

.storeInfo .profileLocation{
    margin-top: 3.5%;
    color: gray;
    margin-bottom: 3%;
}

.storeInfo .profileDescription{
    margin-top: 7%;
    margin-bottom: 2%;

}

.storeInfo .storeHours{
    color: gray;
    font-weight: 600;
    margin-top: 3%;
}

.storeInfo .storeHoursTime{
    color: gray;
    font-size: 15px;
    margin-top: 2%;

}

.storeInfo .storeNumber{
    margin-bottom: 3%;
    margin-top: 4%;
}


.storeInfo .storePrice{
    margin-top: 2%;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 7% 15% 4% 15%;
  }

hr.solid2 {
border-top: 3px solid #bbb;
margin: 1% 15% 4% 15%;;
}

.storePics{
    display: flex;
    flex-wrap: wrap;
    margin: -21px 12% 0 15%;
}

.storePics .storeImgs{
    width: 28%;
    height: 210px;
    margin-right: 1%;
    margin-bottom: 2%;
    border: 1px solid #204051;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #204051;
    margin-left: 24px;
}
  
.storeReviews{
    margin: 0 18%;
    background-color: white;
    box-shadow: -1px 8px 6px #ff5a00;
    border-radius: 19px;
    -webkit-padding-after: 2%;
    padding-block-end: 2%;
    -webkit-padding-before: 2%;
    padding-block-start: 2%;
}

.allReviews{
    border: 1px solid #204051;
    margin-bottom: 2%;
    background-color: #f5f5f5;
    /* display: -webkit-flex; */
    display: -webkit-flex;
    display: flex;
    /* -webkit-flex-direction: column; */
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 74%;
    height: 215px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #204051;
    margin-left: 7%;
    margin-top: 5%;

}

.reviewHeader{
    font-size: 50px;
    margin-bottom: 8%;
    margin-left: 62px;
    font-weight: 700;
    color: #ff5a00;
    margin-top: 3%;
}

.reviewHeaderNumber{
    font-size: 40px;
    margin-bottom: 8%;
    margin-left: 7px;
    font-weight: 700;
    color: rgb(32, 64, 81,0.7);
}

.userReviewToStore{
    display: flex;
    flex-direction: row;
    margin: 2% 3% 2% 3%;
    position: relative;

}

.nextToImg{
    margin-left: 2%;
    margin-top: 1%;
}

.allReviews .userOfReviewPic{
    border-radius: 50%;
    height: 70px;
    box-shadow: 2px 2px 5px #204051;
}

.allReviews .userOfReviewName{
    /* border-radius: 50%; */ 
    font-size: 22px;
    font-weight: 500;
}

.allReviews .locationOfReview{
    margin-top: 3px;
    color: gray;
}
.storeReviewComment{
    margin: 2% 3% 2% 5%;
    background-color: rgba(0,0,0,0.1);
    /* margin: 15px 5px; */
    border-radius: 5px;
    width: 91%;
    line-height: 19px;
    height: 143px;
    /* color: #f5f5f5; */
    box-shadow: 1px #bed9dc;
    box-shadow: 3px 3px 4px #ff5a00;
}


.storeReviewComment .commentPReview{
    margin: 10px 15px;
}
.Userstars{
    margin-bottom: 10px;
    /* margin: 4% 0 0 59%; */
    position: absolute;
    left: 489px;
    right: 34px;
    top: 17px;
}

.breakerForComments{
    border-bottom: 1px solid #660708;
    margin: -7px 3% 0 3%;

}

.howMuch{
    color: gray;
    margin: -27px 0px 17px 106px;
    display: block;
}